$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Helvetica, Arial, sans-serif;
$pageWidth: 640px;

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
}

.page {
	margin: auto;
	max-width: $pageWidth;
}
