$pageColor: #fff;
$bodyColor: #111;
$selectColor: #fe0;
$linkColor: #06c;
$bodyFont: "Inter", sans-serif;
$codeFont: "IBM Plex Mono", monospace;
$pageWidth: 720px;

* {
	color: $bodyColor;
	font-size: 0;
	box-sizing: border-box;
	vertical-align: top;
}

body {
	font-family: $bodyFont;
	background: $pageColor;
	color: $bodyColor;
	margin: 0;
	padding: 0;
}

::selection {
	background: $selectColor;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 8px;
	margin-bottom: 16px;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

code {
	font-family: $codeFont;
	font-size: 14px;
	background: #eee;

	* {
		font-size: 14px;
	}
}

p {
	font-size: 16px;
	line-height: 24px;

	a {
		font-size: 16px;
		color: $linkColor;

		&:hover {
			text-decoration: underline;
		}
	}
}

.container {
	margin: auto;
	padding: 0 24px;
	max-width: $pageWidth;
}

.spacer {
	height: 64px;
}

.semispacer {
	height: 32px;
}

.separator {
	height: 1px;
	background: #ccc;
}

.navbar {
	padding: 14px 0;
	height: 48px;

	a {
		&:hover {
			color: $linkColor;
		}
	}

	.site {
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
	}

	.links {
		float: right;
		a {
			margin-left: 16px;
		}
	}
}

.post {
	&:hover {
		h2 {
			color: $linkColor;
		}
	}
}

.small,
.date {
	font-size: 14px;
	color: #666;
}

.excerpt p {
	margin: 24px 0 0 0;
	font-size: 18px;
}

.highlight {
	margin: 0;
	padding: 32px;
	background: #eee;
}
