$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Inter", sans-serif;
$codeFont: "IBM Plex Mono", monospace;
$pageWidth: 640px;

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
	font-size: 16px;
}

code {
	font-family: $codeFont;
	font-size: 14px;
}

.page {
	margin: auto;
	max-width: $pageWidth;
}
