<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% seo %}
	<link rel="shortcut icon" href="/assets/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,600|IBM+Plex+Mono:400">
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
	<div class="container">
		{{ content}}
	</div>
</body>

</html>