---
layout: default
---

<div class="navbar">
	<div class="container">
		<a class="site" href="{{ "/" | relative_url }}">{{ site.title }}</a>
		<div class="links">
			<a href="https://github.com/mfatihmar">{% include svg/github-logo.svg %}</a>
			<a href="https://linkedin.com/in/mfatihmar">{% include svg/linkedin-logo.svg %}</a>
			<a href="mailto:mfatihmar@gmail.com">{% include svg/email-at.svg %}</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="spacer"></div>
	{{ content }}
</div>